* {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3e8eea9;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
}

.Contact {
    font-size: 20px;
    animation: left-right 2s ease forwards;
}

.name {
    font-size: 25px;
    font-family: 'Noe Display', 'serif';
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    animation: right-left 2s ease forwards;
}

.menu-logo {
    font-size: 24px;
    margin-right: 10px;
}

.menu-name {
    font-size: 20px;
}

.Contact:hover,
.menu-name:hover {
    color: #383434;
}

@keyframes left-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

@keyframes right-left {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50px);
        opacity: 1;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav {
        flex-direction: row;
        align-items: flex-start;
    }

    .name {
        font-size: 20px;
        margin: 10px 0;
    }
    .Contact{
        margin-top: 14px;
        font-size: 16px;
    }

    .menu {
        margin-top: 10px;
        align-items: center;
    }

    .menu-logo {
        font-size: 20px;
        margin-right: 5px;
    }

    .menu-name {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .Contact {
        visibility: hidden;
        font-size: 18px;

    }

    .name {
        font-size: 18px;
        display: flex;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-logo {
        font-size: 18px;
        visibility: hidden;
        margin-right: 5px;
    }

    .menu-name {
        visibility: hidden;
        font-size: 14px;
    }
}
