*{
    padding: 0;
    margin: 0;
}

/* Define the upward animation */
@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to hero-section2 */
.hero-section2 {
    opacity: 0; 
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hero-section2.active {
    animation: moveUp 0.5s ease forwards;
}
/* Define the upward animation */
@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to all sections */
/* section {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

section.active {
    animation: moveUp 0.5s ease forwards;
} */
